.project-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 900px;
}

.project {
  flex: 1 1 300px;
  text-align: center;
  text-decoration: unset;
  color: unset;
}

.project:visited {
  color: unset;
}

.project-image {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
