.projects-grid-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-grid-item {
  height: 300px;
  width: 500px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}