* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  display: block;
  height: 100%;
  width: 100%;
  font-family: avenir, sans-serif;
  background-color: rgb(226, 227, 229);
}

h1 {
  font-size: 3rem;
  letter-spacing: 1px;
}
h2 {
  font-size: 2.4rem;
  font-size: calc(2.4rem + 0.1vw);
}
h3 {
  font-size: 2rem;
  font-size: calc(2rem + 0.1vw);
}
h4 {
  font-size: 1.8rem;
  font-size: calc(1.8rem + 0.1vw);
}
h5 {
  font-size: 1.5rem;
  font-size: calc(1.5rem + 0.1vw);
}
h6 {
  font-size: 1.2rem;
  font-size: calc(1.2rem + 0.1vw);
}
p,
li {
  font-size: 1.5rem;
  font-size: calc(1rem + 0.2vw);
  font-weight: 400;
  line-height: 1.5;
}
small {
  font-size: calc(1rem + 0.1vw);
}

.hidden {
  display: none !important;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.page {
  min-height: 100vh;
  background-color: rgb(226, 227, 229);
  z-index: 1;
  position: relative;
  top: 100px;
  padding: 20px;
}

.page-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  text-transform: uppercase;
  /* font-size: 2.4rem;
  letter-spacing: 0.08rem; */
  font-weight: 900;
}

.page-heading:after {
  content: "";
  padding-bottom: 20px;
  height: 1px;
  width: 40px;
  border-bottom: 2px solid rgb(0, 33, 43);
}
